<div class="col-md-7">

  <div class="col-md-12 mentor-card">
    <div class="row">

      <div class="col-md-3 center">
        <img src="images/default_user.png" class="card-avatar">
        <span class="on-duty"></span>
        <div class="clearfix"></div>
        <button class="btn btn-primary">View Profile</button>
      </div>

      <div class="col-md-9">
        <p><span class="mentor-name">Don Burks</span><span class="label label-success">Admin</span></p>
        <p class="mentor-since">Mentor Since: August 2014</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem possimus itaque, quae, eaque vitae odit ipsa aperiam commodi in consequuntur veniam similique. Ab nobis rem amet facilis quibusdam, odio tempore exercitationem. Perspiciatis, debitis, magnam...</p>
        <hr>
        <span class="contact">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>don@lighthouselabs.ca 
          <i class="fa fa-phone" aria-hidden="true"></i> (250)-999-9999
        </span>
      </div>
    </div>
  </div>







  <div class="col-md-12 mentor-card">
    <div class="row">

      <div class="col-md-3 center">
        <img src="images/default_user.png" class="card-avatar">
        <span class="on-duty"></span>
        <div class="clearfix"></div>
        <button class="btn btn-primary">View Profile</button>
      </div>

      <div class="col-md-9">
        <p><span class="mentor-name">Sarah Vaness</span></p>
        <p class="mentor-since">Mentor Since: August 2014</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem possimus itaque, quae, eaque vitae odit ipsa aperiam commodi in consequuntur veniam similique. Ab nobis rem amet facilis quibusdam, odio tempore exercitationem. Perspiciatis, debitis, magnam...</p>
        <hr>
        <span class="contact">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>don@lighthouselabs.ca 
          <i class="fa fa-phone" aria-hidden="true"></i> (250)-999-9999
        </span>
      </div>
    </div>
  </div>






  <div class="col-md-12 mentor-card">
    <div class="row">

      <div class="col-md-3 center">
        <img src="images/default_user.png" class="card-avatar">
        <span class="on-duty"></span>
        <div class="clearfix"></div>
        <button class="btn btn-primary">View Profile</button>
      </div>

      <div class="col-md-9">
        <p><span class="mentor-name">Donny Daniels</span><span class="label label-success">Admin</span></p>
        <p class="mentor-since">Mentor Since: August 2014</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem possimus itaque, quae, eaque vitae odit ipsa aperiam commodi in consequuntur veniam similique. Ab nobis rem amet facilis quibusdam, odio tempore exercitationem. Perspiciatis, debitis, magnam...</p>
        <hr>
        <span class="contact">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>don@lighthouselabs.ca 
          <i class="fa fa-phone" aria-hidden="true"></i> (250)-999-9999
        </span>
      </div>
    </div>
  </div>

</div>



















<div class="col-md-5 mentor-displayed">
  <div class="row mentor-displayed-top">
    <div class="col-md-7 selected-mentor-name">
      <p><span class="mentor-name">Don Burks</span></p>
      <p class="mentor-since">Mentor Since: August 2014</p>
      <span class="label label-success">Admin</span>
      <span class="label label-primary">On Duty</span>
    </div>
    <div class="col-md-5">
      <div class="col-md-3 center">
        <img src="images/default_user.png" class="card-avatar" alt="Mentor's Picture">
      </div>
    </div>
  </div>
  
  <div id="specialities">
    <div class="col-md-3"><img src="images/icons/ruby.svg"> Ruby</div>
    <div class="col-md-3"><img src="images/icons/javascript.svg"> Javascript</div>
    <div class="col-md-3"><img src="images/icons/node.js.svg"> Node.js</div>
    <div class="col-md-3"><img src="images/icons/jquery.svg"> jQuery</div>
    <div class="clearfix"></div>
  </div>

  <hr>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus earum quasi quod in, nihil dolorum mollitia aperiam magni enim! Aut numquam facere, odit. Dolorum earum, consequatur neque amet ipsum aliquam accusamus dolor quis deserunt necessitatibus nostrum nemo laborum optio saepe reiciendis quasi, a asperiores consequuntur ratione voluptatum quia officia blanditiis inventore. Saepe error, repudiandae voluptatem accusantium. Odit ducimus dolorum laudantium officiis unde saepe exercitationem, debitis reiciendis labore dolor rem nulla neque itaque dolore fugit animi magni non. Vitae, non maiores laborum doloremque exercitationem culpa ex, impedit tempora fugiat. Illo natus esse rerum fugiat neque ut, quaerat praesentium assumenda, odit laborum.</p>

  <hr>

  <div id="contact-info">
    <div class="col-md-6"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> don@lighthouselabs.ca</div>
    <div class="col-md-6"><i class="fa fa-phone fa-lg" aria-hidden="true"></i> (250) 000 0000</div>
    <div class="col-md-6"><i class="fa fa-github fa-lg" aria-hidden="true"></i> /donburks</div>
    <div class="col-md-6"><i class="fa fa-skype fa-lg" aria-hidden="true"></i> /donburks</div>
    <div class="col-md-6"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i> /donburks</div>
    <div class="col-md-6"><i class="fa fa-slack fa-lg" aria-hidden="true"></i> /donburks</div>
    <div class="clearfix"></div>
  </div>

  <hr>

  <div id="map"></div>

  <div class="clearfix"></div>
  <script>
    function initMap() {
      var myLatLng = {lat: 49.2827, lng: -123.1207};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"async defer></script>
</div>
  

